@using BootstrapSupport
@model List<MiniDropbox.Web.Models.DiskContentModel>

@{
    ViewBag.Title = "MyContent";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<script type="text/javascript">
    //$(document).ready(function () {
       function showModal() {
            
           $('#FileUploadPopUp').modal('toggle');
            
        }
    //});
</script>

<h4><small>Files List</small></h4>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model[0].VisibleProperties())
            {
                <th>
                    @property.GetLabel().ToSeparatedWords()
                </th>
            }
            
            <a class="icon-upload pull-right" onclick="showModal();" href="#"></a>
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var model in Model)
    {
        ViewData[index.ToString()] = model;
        <tr>
            @foreach (var property in model.VisibleProperties())
            {
                <td>
                    @Html.Display(index + "." + property.Name)
                </td>                    
            }
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @Html.TryPartial("_actions", model)                            
                            var routevalues = model.GetIdValue();  
                            <li>@Html.ActionLink("Edit", "Edit", routevalues)</li>
                            <li>@Html.ActionLink("Details", "Details", routevalues)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Delete", "Delete", routevalues)</li>
                               
                        }
                    </ul>
                </div>

            </td>
        </tr>
        index++;
    }

</table>
<div class="modal hide fade in modal-form" id="FileUploadPopUp">
    <div class="control-group modal-body">
       @using (@Html.BeginForm("FileUpload", "Disk", FormMethod.Post, new { enctype = "multipart/form-data" }))
       {
            <label class="control-label">Select a file: </label>
           <input type="file" name="fileControl"/>
           <div class="form-actions">
               <button type="submit" class="btn-primary" >Upload</button>
           </div>
       }
        
    </div>
</div>



