@using BootstrapSupport
@model List<MiniDropbox.Web.Models.DiskContentModel>

@{
    ViewBag.Title = "MyContent";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<script type="text/javascript">
       function showModal() {
            
           var url = $('#FileUploadPopUp').data('url');

           $.get(url, function (data) {
               $('#FileUploadPopUp').html(data);

               //$('#gameModal').modal('show');
               $('#FileUploadPopUp').modal('toggle');
           });
       }
       
</script>

<h4><small>Files List</small></h4>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model[0].VisibleProperties())
            {
                <th>
                    @property.GetLabel().ToSeparatedWords()
                </th>
            }
            <th></th>
        </tr>
        <a class="icon-upload pull-right" onclick="showModal();" href="#"></a>
        <a class="icon-folder-open pull-right" onclick="showModal();" href="#"></a>
    </thead>
    @{ int index = 0; }
    @foreach (var model in Model)
    {
        ViewData[index.ToString()] = model;
        <tr>
            @foreach (var property in model.VisibleProperties())
            {
                <td>
                    @Html.Display(index + "." + property.Name)
                </td>                    
            }
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @Html.TryPartial("_actions", model)                            
                            var routevalues = model.GetIdValue();  
                            <li>@Html.ActionLink("Details", "Details", routevalues)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Delete", "DeleteFile",new {@fileId=routevalues.Values.FirstOrDefault()} )</li>
                               
                        }
                    </ul>
                </div>

            </td>
        </tr>
        index++;
    }

</table>

<div class="modal hide fade in modal-form" id="FileUploadPopUp"  data-url='@Url.Action("FileUploadModal", "Disk")'>
    
</div>

<div class="modal hide fade in modal-form" id="FileDeletePopUp">
    <img class="badge-warning"/>
    <label class="control-label">Are you sure you want to delete this file? It would be permanently removed</label>

</div>

@*data-url='@Url.Action("FileUploadModal")'*@

@*new { enctype = "multipart/form-data" }*@
