@using BootstrapSupport
@using Microsoft.Web.Mvc
@model MiniDropbox.Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Change Password</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend><small>Please fill the information required below</small></legend>
        @foreach (var property in Model.VisibleProperties())
        {
            using(Html.ControlGroupFor(property.Name)){
                @Html.Label(property.Name.ToSeparatedWords(), new { @class = "control-label" })
                 <div class="controls">
                     @Html.Editor(property.Name, new { @class = "input-small" })
                     @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                 </div>
            }
        }
		<div class="form-actions">
		    <button type="submit" class="btn btn-primary">Save Changes</button>
		    @*<button type="submit" class="btn btn-danger" >Cancel </button>*@
            @Html.ActionLink("Cancel", "Cancelar","AccountSignUp",new { @class = "btn btn-danger" })
          </div>
    </fieldset>
}
